<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<!-- <html lang="en"> -->
  <head>
    <meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title><%= page_title %></title>

    <!-- <link rel="shortcut icon" href="favicon.ico"> -->

    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "styles" %>

    <%= javascript_include_tag 'jquery-1.10.2' %>
    <%= javascript_include_tag 'application' %>

    <%= yield_content :head %>
  </head>

  <body>
    <!--[if lt IE 8]>
      <%= partial "partials/compatibility-notice" %>
    <![endif]-->
  
    <div class="container">
      <%= yield %>
    </div>

    <%= partial "partials/analytics" %>
  </body>
</html>
